
.DS_Store


junk

upload_elastic/biostor-*
upload_elastic/biostor.jsonl

vendor/*
bhl-import/xml/JournalRoyalSoc54Roya_djvu.xml
upload_couchdb/biostor.txt
upload_couchdb/missing.txt
upload_couchdb/page.txt
upload_couchdb/pinterest.txt
